<!-- to display menu actions of controller -->
<div class="btn-group pull-right" ng-show="actions.length == 1">
    <a class='btn' ng-click="flipSearch();searchString=''" ng-show="!showSearch">
      <i class="fa fa-search fa-lg"></i>
    </a>
    <a class='btn' ng-click="actions[0].onClick()" ng-class="{'disable': action.isDisabled}"><i class="fa {{actions[0].icon}} fa-lg"></i></a>
</div>

<div class="btn-group pull-right" ng-show="actions.length > 1">
    <a class='btn' ng-click="flipSearch();searchString=''" ng-show="!showSearch">
      <i class="fa fa-search fa-lg"></i>
    </a>
    <a ui-turn-on='myDropdown' class='btn' >
      <i class="fa fa-ellipsis-v fa-lg"></i>
    </a>
    <ul 
      class="dropdown-menu"
      ui-outer-click="Ui.turnOff('myDropdown')"
      ui-outer-click-if="Ui.active('myDropdown')"
      role="menu"
      ui-show="myDropdown" 
      ui-state="myDropdown"
      ui-turn-off="myDropdown">

      <li ng-repeat="action in actions" ng-click="action.onClick()">
      	<a ng-class="{'disable': action.isDisabled}">{{action.label}}</a>
      </li>
    </ul>
</div>
<div ng-show="showSearch">
  <div class="input-group">
    <form ng-submit="search(searchString);">
      <input id="searchText" class="searchBox form-control" placeholder="Search for..." type="search" ng-model="searchString" style="left: -30px;">
    </form>
    <span class="input-group-btn">
      <a class='btn' ng-click="flipSearch(); onSearchClose(searchString)">
        <i class="fa fa-times fa-lg"></i>
      </a>
    </span>
  </div>
</div>  