<div ng-include="'partials/menu-bar.html'"></div>
<span content-for="title">{{resourceBundle.conflict_title}}</span>

<div class="scrollable">  
   <div class="scrollable-content">
        <div class="list-group alert-danger" ng-show="projectWarning">
            <p>{{projectWarning}}</p>
        </div>
        <div class="list-group bg-white">
        <div class="list-group-item">
            <div class="tab-content">
              <div class="tab-pane" toggleable active-class="active" default="active" id="Tab2" exclusion-group="myTabs">
                 <div ng-show="!showActions" class="bg-white black-font table-bar line-bottom" ng-include="'partials/pagination_tag.html'">
                </div>
                <div ng-show="showActions" class="bg-white black-font table-bar line-bottom">
                  <span><i class="fa fa-lg fa-download" ng-click="download()"></i></span>
                 </div>
                <div ng-init="selectedField='all'">
                  <select class="form-control pull-left" style="width:20%" ng-model="selectedField">
                    <option ng-repeat="(name, label) in searchFields " value="{{name}}">{{label}}</option>
                  </select>
                <input type="search" class="form-control app-search" style="width:80%" placeholder="Search.." ng-model="searchStr"/>
              </div>
                  <table id="server-submissions" style="margin-bottom:0px;" class="bg-white table table-condensed">
                    <thead>
                    <tr>
                        <th ng-repeat="order in orderHeaders" >{{headers[order]}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="submission" ng-repeat="item in submissions"
                        ng-class="{'success':selected}"
                        ng-bind-html="formatSubmission($index, item)">
                    </tr>
                    <tr ng-show="total>=5">
                    <td colspan="{{orderHeaders.length}}">
                      <div ng-include="'partials/pagination_tag.html'">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div> <!-- table panel -->
            </div>
        </div>
        </div>
  </div>
