<span content-for="title">{{pageTitle}}</span>
<div content-for="refreshContents">
    <div ng-click="$sync()">
        <a><i class="fa fa-lg  fa-arrow-circle-down"></i></a>
    </div>
</div>
<div content-for="context-info">local Project list</div>

<div class="scrollable">  
    <div class="scrollable-content">
        <div class="list-group bg-white">
            <div class="list-group-item">
                <ul class="nav nav-tabs submission-tab toggle-full-screen" toggleable default="active" inactive-class="hide">
                  <li><a href="#Tab1" toggle="on" parent-active-class="active">Installed</a></li>
                  <li><a href="#server-project-list">Server</a></li>
                </ul>
                <div class="tab-content">
                    <div  class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs">
                        <div ng-include="'partials/pagination_tag.html'" class="bg-white black-font table-bar line-bottom">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="input-group">
                <input type="search" class="form-control app-search" placeholder="Search.." ng-model="searchText" />
                <span class="input-group-addon" ng-click="searchText = ''"><a><i class="fa fa-search-minus"></i></a></span>
            </div>
            <div ng-repeat="project in projects  | filter:searchText" href="#local-project-list" class="list-group-item" ng-class="project.status" >
                <i class="fa fa-times fa-lg pull-right" ng-click="deleteProject(project)"></i>
                <a href="#submission-list/{{project.project_id}}">{{ project.name }}</a>
            </div>
        </div>
    </div>
</div>
