<link rel="stylesheet" href="css/angucomplete.css" />
<div ui-content-for="sideBar"></div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="bottom">
  <div class="text-center">
    <p>Copyright &copy; Thoughtworks 2015</p>
    <p>Visit www.collectdata.in to view</p>
    <p>Privacy policy and Terms and Conditions</p>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content section public-text">
      <div bs-panel>
          <div class="text-center">
            <img src="images/dcs_logo.png" style="width: 50%">
          </div>
          <p></p>
          <div class="text-center">
            Connecting to {{user.url}} &nbsp;<a href ui-turn-on="modal1"><i class="fa fa-pencil-square-o fa-lg"></i></a>
          </div>
          <div class ="form-group">
              <div angucomplete-alt
                id="ex1"
                pause="100"
                selected-object="userSelected"
                local-data="users"
                search-fields="name"
                title-field="name"
                minlength="1"
                input-class="form-control form-control-small"
                placeholder="{{resourceBundle.username}}"/>
           </div>
          <div class ="form-group">
              <input class="form-control" type ="password" ng-model="user.password" placeholder="{{resourceBundle.password}}">
          </div>
          <button class="btn btn-primary" ng-click="login()">{{resourceBundle.login}}</button>
          <div class ="help_text form-group" style="padding:10px 0px 0px 0px">
              Did you change your password? Update 
              <a href="" ng-click="forgetPassword()">here</a>
              and login again
          </div>
          <!-- Change url Modal -->
          <div ui-content-for="modals">
            <div class="modal" ui-if="modal1" ui-state='modal1'>
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <a class="close" 
                            ui-turn-off="modal1">&times;</a>
                    <h4 class="modal-title">Change Url</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                        <label>{{resourceBundle.url}}</label>
                        <input class="form-control" type ="text" ng-model="user.url">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a ui-turn-off="modal1" class="btn btn-default">Close</a>
                    <a class="btn btn-primary" ng-click="saveUrl(user.url)" ui-turn-off="modal1" >Save changes</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="text-center help_text">
          {{resourceBundle.login_offine_help_text}}
      </div>
  </div>
</div>