<span content-for="title">{{pageTitle}}</span>

<div content-for="context-info">
  <span class="context-info">{{project_name}}</span>
</div>

<!-- http://mandarindrummond.com/articles/angular-css-toggle-no-controller/index.html
list-group-item-success -->
<div class="scrollable">  
   <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group bg-white">
                <div class="line-bottom bg-white black-font">
                    <p style="margin:4px">{{resourceBundle.manage_columns_info}}</p>
                </div>
				        <div class="panel-body">
                    <ul ng-repeat="(key,val) in headers" class="list-group" >
                        <li class="list-group-item" ng-class="{'list-group-item-success':selected}" ng-click="updateSelectedList(this)"data-key="{{key}}">{{val}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" ng-click="updateSubmissionViewColumns()">Update</button>
				</div>
    </div>
</div>