<span content-for="title">{{pageTitle}}</span>

<div content-for="context-info">
  <span class="context-info">{{project_name}}</span>
</div>

<!-- http://mandarindrummond.com/articles/angular-css-toggle-no-controller/index.html
list-group-item-success -->
<div class="scrollable">  
   <div class="scrollable-content">
    <div class="list-group">

        <div class="list-group-item alert-danger" ng-show="projectWarning">
            <p>{{projectWarning}}</p>
        </div>
        <div class="list-group bg-white">
                <div class="line-bottom bg-white black-font">
                    <p style="margin:4px">Tap to add/remove column of submission table</p>
                </div>
				<div class="panel-body">
					<ul ng-repeat="(key,val) in headers" class="list-group">
					  <li class="list-group-item" ng-class="{'list-group-item-success':val.selected}" ng-click="toggle(key)"
					  data-key="{{key}}">{{val.label}}</li>
					</ul>
				</div>
        </div>

    </div>
  </div>
</div>
