<div class="scrollable">
  <h1 class="scrollable-header app-name">{{resourceBundle.menu}} {{appVersion}}</h1>
  <p style="color:#666; padding-left:10px; margin-top:-10px;">{{user.name}}</p>
  <p style="color:#666; padding-left:10px; margin-top:-10px;">{{user.url}}</p>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
     <a class="list-group-item" href="#/local-project-list">{{resourceBundle.home}} <i class="fa fa-chevron-right pull-right"></i></a>
     <!-- <a class="list-group-item" href="#/settings">{{resourceBundle.settings_title}} <i class="fa fa-chevron-right pull-right"></i></a> -->
     <a class="list-group-item" ng-click="logout()">{{resourceBundle.log_out}} <i class="fa fa-chevron-right pull-right"></i></a>
     <!-- <a class="list-group-item" href="#/about">{{resourceBundle.about_us_title}} <i class="fa fa-chevron-right pull-right"></i></a> -->
    </div>
  </div>
</div>

