<span ui-content-for="title"><span ng-hide="showSearch">{{ title }}</span></span>
<div ui-content-for="navbarAction">
    <div ng-include="'partials/action_bar.html'"></div>
</div>
<div ng-if="showBack" ui-content-for="sideBar">
  <div class="btn" ng-click="goBack()">
    <i class="fa fa-arrow-left fa-2x"></i>
  </div>
</div>
<div ng-if="!showBack" ui-content-for="sideBar">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars fa-2x"></i>
    </div>
</div>
<div class="scrollable">  
    <div class="scrollable-content">
        <div class="list-group" ng-if="projects.length !=0">
            <div ng-repeat="project in projects" ng-init="selected=false" ng-click="onProjectSelect(this, project)"  ng-class="{'list-group-item': true, 'outdated':(project.status=='outdated'), 'server-deleted':(project.status=='server-deleted'),'selected':selected }">
                <div ng-if="!serverPage">
                    <button class="fa fa-file-o pull-right fa-2x link" ng-click="createSurveyResponse(project.project_uuid)" style="margin-top: -10px;" ng-disabled="disableLink(project.status)" ng-class="{'disabled': disableLink(project.status)}"></button>
                    <button class="numberCircle pull-right link btn" ng-click="showUnsubmitted(project)" ng-disabled="disableLink(project.status)" ng-class="{'disabled': disableLink(project.status)}">{{project.unsubmitted_count}}</button>
                    <button class='link item-name' ng-click="showAllSubmissions(project)" ng-disabled="disableLink(project.status)" ng-class="{'strikeout': disableLink(project.status)}">{{ project.name }}</button>
                </div>
                <div ng-if="serverPage">
                    <span>{{ project.name }}</span>
                </div>
            </div>
            <div ui-content-for="bottom">
                <div ng-include="'partials/pagination_tag.html'"></div>
            </div>
        </div>
        <div ng-if="projects.length == 0" class="well well-lg">
            No offline forms. Please start with 'Download Forms'.
        </div>
    </div>  
</div>
