<span content-for="title">{{pageTitle}}</span>
<div content-for="refreshContents">
    <div ng-click="$refreshContents()">
        <a><i class="fa fa-lg fa-refresh"></i></a>
    </div>
</div>

<div class="scrollable">  
<div class="scrollable-content">

  <div class="list-group">
    <div class="input-group">
      <input type="search" class="form-control app-search" placeholder="Search.." ng-model="searchText" />
      <span class="input-group-addon" ng-click="searchText = ''"><a><i class="fa fa-search-minus"></i></a></span>
    </div>
    <div ng-repeat="project in projects  | filter:searchText" href="#submission-list" class="list-group-item"
        ng-class="{'server-content': !project.isStored}" >
      <div ng-If="project.isStored == true">
        <a><img src="img/delete.png" width="16" class="fa fa-chevron-right pull-right" ng-click="deleteProject(project)"/></a>
        <a href="#submission-list/{{project.project_id}}/project_uuid/{{project.project_uuid}}">
          {{ project.name }} 
        </a>
      </div>
      <div ng-If="project.isStored == false">
        <i class="fa fa-download fa-lg pull-right" ng-click="downloadProject(project)"></i>
          {{ project.name }} 
      </div>
    </div>

  </div>
</div>
</div>
