<span content-for="title">{{pageTitle}}</span>
<div content-for="context-info">{{context}}</div>

<div class="scrollable">  
    <div class="scrollable-content">
        <div class="list-group bg-white">
            <div class="list-group-item">
                <ul class="nav nav-tabs submission-tab toggle-full-screen" toggleable default="active" inactive-class="hide">
                  <li><a href="#local-project-list" >Installed</a></li>
                  <li><a href="#Tab2" toggle="on" parent-active-class="active">Server</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" toggleable active-class="active" default="active" id="Tab2" exclusion-group="myTabs">
                        <div ng-include="'partials/pagination_tag.html'" class="bg-white black-font table-bar line-bottom">
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="input-group">
                <input type="search" class="form-control app-search" placeholder="Search.." ng-model="searchText" />
                <span class="input-group-addon" ng-click="searchText = ''"><a><i class="fa fa-search-minus"></i></a></span>
            </div>
            <div ng-repeat="project in projects  | filter:searchText" href="#server-project-list" class="list-group-item" ng-class="project.status" >
                <i class="fa fa-download fa-lg pull-right" ng-click="downloadProject(project)"></i>
                <span>{{ project.name }}</span>
            </div>
        </div>
    </div>
</div>
