<span ui-content-for="title">{{resourceBundle.projects}}</span>
<div ui-content-for="navbarAction">
    <div ng-include="'partials/action_bar.html'"></div>
</div>
<div class="scrollable">  
    <div class="scrollable-content">
        <div class="list-group">
            <div ng-repeat="project in projects "ng-init="selected=false" ng-click="onProjectSelect(this, project)"  ng-class="{'list-group-item': true, 'selected': selected}">
                <span>{{ project.name }}</span>
            </div>
           <div ui-content-for="bottom">
                <div ng-include="'partials/pagination_tag.html'"></div>
            </div>
        </div>
    </div>
</div>
