<div class="scrollable-content section">
     <div id="message" class="bg-success  panel-title" ng-show=showMessage class ="container-fluid" >
      <div class="panel-heading">
        <h2 class="panel-title">
          {{message_to_display}}
          <button type="button" class="close" ng-click="showMessage=false">&times;</button>
        </h2>
      </div>
    </div>
     <div class="panel" bs-panel="">
        <div class="panel-heading">
        <h2 class="panel-title">
          Server Url
        </h2>
      </div>
  <div class="panel-body">
       <div class="form-group row"><label  class="control-label col-xs-3 col-sm-2 col-lg-1">Url:</label><div class="form-control-wrapper col-xs-9 col-sm-10 col-lg-11"><input bs-form-control="" type="text" ng-model="serverDetails.serverUrl" label="Customer" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control" placeholder="server url" id="invoice_customer_input"></div></div>
  </div>
</div>

<div class="panel" bs-panel="">
  <div class="panel-heading">
  <h2 class="panel-title">
    User credentials
  </h2>
</div>
  <div class="panel-body">
       <div class="form-group row"><label  class="control-label col-xs-3 col-sm-2 col-lg-1">Username:</label><div class="form-control-wrapper col-xs-9 col-sm-10 col-lg-11"><input bs-form-control="" type="text" ng-model="serverDetails.username" label="Customer" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control" placeholder="username" ></div></div>

       <div class="form-group row">
        <label  class="control-label col-xs-3 col-sm-2 col-lg-1">Password:</label>
        <div class="form-control-wrapper col-xs-9 col-sm-10 col-lg-11">
          <input bs-form-control="" type="password" ng-model="serverDetails.password" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control" placeholder="password" >
        </div>
      </div>

       <div class="form-group row">
        <label  class="control-label col-xs-3 col-sm-2 col-lg-1">Confirm password:</label>
        <div class="form-control-wrapper col-xs-9 col-sm-10 col-lg-11">
          <input bs-form-control="" type="password" ng-model="serverDetails.password" label="Customer" label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control" placeholder="confirm password">
        </div>
      </div>
      <div class="panel-body">
      <div content-for="navbarAction" duplicate="" class="ng-scope">
      <input type ="submit" bs-form-control class = 'btn btn-primary' value="Save" ng-click="saveDetails()">
      </div>
    </div>
  </div>
  </div>
</div>
</div>