<span ui-content-for="title">{{ title }}</span>
<div ui-content-for="navbarAction"></div>

<div class="scrollable">  
   <div class="scrollable-content">
    <div class="list-group bg-white">
      <table class="bg-white table table-condensed">
          <tr>
            <td></td>
            <td><button ng-click="applyServerChanges()">{{resourceBundle.apply}}</button></td>
            <td><button ng-click="applyLocalChanges()">{{resourceBundle.apply}}</button></td>
          </tr>
          <thead>
          <tr>
            <th>{{resourceBundle.questions}}</th>
            <th>{{resourceBundle.server_data}}</th>
            <th>{{resourceBundle.mobile_data}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="submission" ng-repeat="item in conflictView" 
          ng-bind-html="item">
          </tr>
         </tbody>
      </table>
    </div>
  </div>
</div>
