<div content-for="new">
    <i class="fa fa-lg fa-file" ng-hide="projectWarning" ng-click="select()"></i>
</div>

<div class="scrollable">  
  <div class="scrollable-content">
    <div class="list-group alert-danger" ng-show="projectWarning">
        <p>{{projectWarning}}</p>
    </div>
    <div class="list-group top-padding-5px bg-white">
      <div class="list-group-item">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="save()">Save</button>
          <button type="button" class="btn btn-default" ng-click="takeLocal()">Take Local</button>
          <button type="button" class="btn btn-default" ng-click="takeServer()">Take Server</button>
        </div>
        <table class="bg-white table table-condensed">
          <thead>
            <tr>
              <th>Question</th>
              <th>Downloaded</th>
              <th>Server</th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="(key, val) in headers">
              <td ng-hide="isArray(localSubmission.data[key])">{{val}}</td>
              <td ng-hide="isArray(localSubmission.data[key])" ng-class="{'success':selectLocal}">{{localSubmission.data[key]}}</td>
              <td ng-hide="isArray(serverSubmissionData[key])" ng-class="{'success':!selectLocal}">{{serverSubmissionData[key]}}</td>

              <td ng-show="isArray(localSubmission.data[key])">
                <table class="table table-condensed" ng-repeat="v in localSubmission.data[key] track by $index">
                  <tr ng-repeat="(k1, v1) in v">
                    <td>{{k1}}</td>
                  </tr>
                </table>
              </td>
              <td ng-show="isArray(localSubmission.data[key])">
                <table class="table table-condensed" ng-repeat="v in localSubmission.data[key] track by $index">
                  <tr ng-repeat="(k1, v1) in v">
                    <td ng-class="{'success':selectLocal}">{{v1}}</td>
                  </tr>
                </table>
              </td>
              <td ng-show="isArray(localSubmission.data[key])">
                <table class="table table-condensed" ng-repeat="vs in serverSubmissionData[key] track by $index">
                  <tr ng-repeat="(ks1, vs1) in vs">
                    <td ng-class="{'success':!selectLocal}">{{vs1}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
