<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
</head>
<span ui-content-for="title">{{resourceBundle.createSubmission}}</span>
<div ui-content-for="navbarAction">
    <div ng-include="'partials/action_bar.html'"></div>
</div>
<div ui-content-for="sideBar">
  <div class="btn" ng-click="goBack()">
    <i class="fa fa-arrow-left fa-lg"></i>
  </div>
</div>
<div class="scrollable">  
  <div class="scrollable-content" ng-swipe-left="onPrevious()" ng-swipe-right-"onNext()">
  <div class="panel">
  		<div class="main">
		<article class="paper" >
			<section class="guidance">
				<ul>
					<li>Loading...</li>
				</ul>
			</section>
			<header class="form-header clearfix">
				<span class="form-language-selector"><span>Choose Language</span></span>
			</header>
			<!-- this is where the form will go -->
						
			<button id="validate-form" class="btn btn-primary btn-large" ></button>
			<div class="enketo-power">
        Powered by <img src="images/enketo_bare_100x37.png" alt="enketo logo" />
			</div>
		</article>
	</div>
  </div>
  <div ui-content-for="bottom">
    <div style="text-align:center;" ng-show="page.showPagination()">
    <span ng-hide="page.isFirstPage()" ng-click="page.onPrevious()" class="fa fa-lg fa-chevron-left btn" style="float: left;"></span>
     <span class="btn">
        Showing 
         
        {{ page.getTo() }} 
        of 
        {{ page.getTotal() }} 
     </span>
   <span ng-hide="page.isLastPage()" ng-click="page.onNext()" class="fa fa-lg fa-chevron-right pull-right btn"></span>
    </div>
  </div>
  </div>
</div>	