<div content-for="new">
    <i class="fa fa-lg fa-file" ng-hide="projectWarning" ng-click="select()"></i>
</div>

<div class="scrollable">  
  <div class="scrollable-content">
    <div class="list-group alert-danger" ng-show="projectWarning">
        <p>{{projectWarning}}</p>
    </div>
    <div class="list-group top-padding-5px bg-white">
      <div class="list-group-item">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="save()">Save</button>
          <button type="button" class="btn btn-default" ng-click="takeLocal()">Take Local</button>
          <button type="button" class="btn btn-default" ng-click="takeServer()">Take Server</button>
        </div>
        <table class="bg-white table table-condensed">
          <thead>
            <tr>
              <th>Question</th>
              <th>Downloaded</th>
              <th>Server</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, val) in headers">
              <td>{{val}}</td>
              <td ng-class="{'success':selectLocal}">{{localSubmission.data[key]}}</td>
              <td ng-class="{'success':!selectLocal}">{{serverSubmissionData[key]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
