<span ui-content-for="title">
  <span ng-hide="showSearch" ng-if="title != 'server data'">
      <span style="text-transform:capitalize" ui-turn-on='SubmissionTypes'>{{title}}
      <i class="fa fa-caret-down"></i>
      </span>
      <ul class="dropdown-toggle dropdown-menu dropDown" 
      ui-outer-click="Ui.turnOff('SubmissionTypes')"
      ui-outer-click-if="Ui.active('SubmissionTypes')"
      role="menu"
      ui-show="SubmissionTypes" 
      ui-state="SubmissionTypes"
      ui-turn-off="SubmissionTypes">
        <li ng-click="ApplyFilterWith('all')"><a >All</a></li>
        <li ng-click="ApplyFilterWith('unsubmitted')"><a >Unsubmitted</a></li>
        <li ng-click="ApplyFilterWith('conflicted')"><a >Conflicted</a></li>
      </ul>
  </span>
  <span ng-hide="showSearch" ng-if="title == 'server data'">
      <span style="text-transform:capitalize">{{title}}</span>
  </span>
</span>
<div ui-content-for="sideBar">
  <div class="btn" ng-click="goBack()">
    <i class="fa fa-arrow-left fa-2x"></i> 
  </div>
</div>
<div ui-content-for="navbarAction">
    <div ng-include="'partials/action_bar.html'"></div>
</div>
<div class="scrollable">  
  <div class="scrollable-content">
    <div class="well-custom well-sm">{{project_name}}</div>
    <div class="list-group" ng-if="submissions.length !=0">
        <div ng-repeat="item in submissions" ng-init="selected=false" ng-class="{'list-group-item': true, 'outdated':(item.status=='outdated'), 'server-deleted':(item.status=='server-deleted'),'selected':selected, 'outdated':(item.status=='conflicted')}"
      ng-click="onSubmissionSelect(this, item)">
        <div ng-if="!serverPage">
          <span am-time-ago="item.created" am-preprocess="utc"></span>
          <p class="small">on {{ item.created | date: "MM/dd/yyyy 'at' hh:mm"}}</p>

          <div ng-if="item.status == 'conflicted'">
            <button class="pull-right link" ng-click="resolveConflict(item.submission_uuid)" ng-disabled="item.status=='server-deleted'" style="margin-top: -30px;">view</button>
          </div>
          <div ng-if="item.status != 'conflicted'">
            <button class="pull-right link" ng-click="setPathForView(item.submission_id, false, $index)" ng-disabled="item.status=='server-deleted'" style="margin-top: -30px;">view</button>
          </div>
        </div>
        <div ng-if="serverPage">
          <span am-time-ago="item.date" am-preprocess="utc"></span> 
          <p class="small">on {{ item.date | date: "MM/dd/yyyy 'at' hh:mm"}}</p>
        </div>
      </div>
      <div ui-content-for="bottom">
        <div ng-include="'partials/pagination_tag.html'"></div>
      </div>
    </div>
    <div ng-if="submissions.length == 0" class="well well-lg">
      No data to display.
    </div>
  </div>  
</div> 