.app {
  background-color: rgb(255, 255, 255);
}

.selected {
  background-color: #dff0d8 !important;
}

.outdated {
  background-color: #FFAD33 !important;
}

.link {
   background:none!important;
     border:none; 
     padding:0!important;
     cursor:pointer;
}

.strikeout {
  text-decoration: line-through!important;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.server-deleted {
  text-decoration: line-through !important;
  background-color: #FFAD33 ;
}

.numberCircle {
  margin-top: -5px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  line-height: 26px;
  border-radius: 18px;
  text-align: center;
  border: 2px solid #666;
}

.searchBox {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 1px black solid;
}

.dropDown {
  left:auto !important;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
}