<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thoughtworks.dcs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Garner</name>
    <description>
        Garner is a xlsform based data collection application.
    </description>
    <author email="garner@thoughtworks.com" href="https://garner.twhosted.com">
        Garner Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
